<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="ToursEntities" connectionString="metadata=res://*/BaseModel.csdl|res://*/BaseModel.ssdl|res://*/BaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KHORPC\SQLEXPRESS;initial catalog=Tours;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ToursApp.Properties.Settings.ToursConnectionString"
      connectionString="Data Source=KHORPC\SQLEXPRESS;Initial Catalog=Tours;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>